:root{
  --font-primary: "Montserrat", sans-serif;
  --color-pri: #000;
  --color-sec: #fff;
  --color-ter: #e2e2e2;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  background-color: var(--color-sec);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
